@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:ital,wght@0,400;0,700;1,100&display=swap");

* {
  margin: 0;
  padding: 0;
  line-height: 150%;
}
*::selection {
  background: rgb(255, 123, 61);
  color: #ffffff;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(245, 245, 245, 0.3);  */
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgb(48, 48, 48);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.4);
}
body {
  position: relative;
  background-color: #161616;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  top: 80px;
  flex-direction: column;
  align-items: center;
}

.flex .intro {
  position: relative;
  float: left;
  width: 70%;
  height: 80vh;
  font-family: "Roboto";
  font-size: 40px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}
.intro h2 {
  justify-self: left;
  margin-bottom: 8%;
}
.highlight {
  text-align: center;
  width: fit-content;
}
.text-mark {
  color: #ffffff;
  background-color: rgb(255, 123, 61);
  line-height: 150%;
}
.blinker {
  width: 3px;
  height: 72px;
  margin-bottom: -15px;
  background-color: white;
  display: inline-block;
  animation: blink 0.5s infinite;
  margin-left: 10px;
}

@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.intro p {
  font-size: 20px;
  font-family: "Open Sans";
  width: 70%;
  margin: 10px;
  margin-left: 40px;
  z-index: 1;
  padding-left: 10px;
  text-align: left;
}

.intro img {
  position: absolute;
  width: 500px;
  right: 0;
  top: 160px;
  z-index: 0;
  opacity: 0.1;
  margin-right: 80px;
  transform: rotateZ(15deg);
}

.auth {
  position: fixed;
  bottom: 40px;
  right: 40px;
  color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  min-width: 60px;
  text-align: center;
  font-family: "Open Sans";
  background-color: rgb(36, 36, 36);
}

.container {
  background-color: #161616;
  width: 80%;
  padding: 30px;
  padding-top: 100px;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}
.backdrop img {
  width: 120%;
  margin: 5%;
}
.auth-form {
  position: relative;
  width: 600px;
  min-height: 500px;
  margin: 10px;
  padding: 10px;
  display: grid;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
}
.form {
  position: absolute;
  left: 25%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  min-width: 260px;
  height: 380px;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 10px;
  font-family: "Open Sans";
  align-items: flex-start;
  transition: transform 1s linear;
}
.form.inactive {
  transform: translateX(1000px);
}
.form h2 {
  text-align: center;
  font-weight: 100;
  color: rgb(255, 123, 61);
  margin-bottom: 20px;
}
.form label {
  width: 100%;
  font-size: 0.8em;
  text-transform: uppercase;
}

.form input {
  background-color: transparent;
  border: 0;
  outline: 0;
  font-size: 1em;
  width: 100%;
  padding: 4px;
  margin-top: -0.4em;
  margin-bottom: 1em;
  border-bottom: 2px solid rgb(0, 0, 0);
}
.form input:focus {
  border-bottom: 2px solid rgb(255, 123, 61);
}
.form button {
  padding: 0.8em 1.2em;
  margin: 0 10px 0 0;
  width: auto;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1em;
  line-height: 1em;
  letter-spacing: 0.6px;
  border-radius: 3px;
  border: 0;
  outline: 0;
  background-color: transparent;
  color:rgb(255,123,61);
  transition: all 0.25s ease-in;
  cursor: pointer;
}
.form button[type="submit"] {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  color: #fff;
  background-color: rgb(255, 123, 61);
}
.form button[type="submit"]:hover {
  background-color: rgb(250, 102, 33);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.forgot-pass{
  font-size: 12px;
}

.form .social-login {
  align-self: center;
  display: flex;
  position: absolute;
  bottom: 20px;
  /* flex-direction: column; */
}
.form.sign-up .gender{
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  font-size: 0.7em;
}
.form .gender .gen{
  height: 36px;
  width: 36px;
  border-radius: 50%;
  border: 2px solid #000;
  padding: 2px;
  margin: 5px;
  cursor: pointer;
}
.form .gender .gen.active{
  border: 2px solid rgb(83, 255, 67);
}
.form img{
  width: 36px;
}

.g-login,
.fb-login {
  padding: 3px;
  margin-top: 2px;
  font-size: 0.8em;
  cursor: pointer;
}
.fab {
  padding-right: 4px;
  padding-left: 4px;
}

.g-login:hover {
  color: rgba(236, 34, 34);
}
.fb-login:hover {
  color: #1877f2;
}

footer {
  margin-top: 100px;
  margin-bottom: 30px;
  padding: 10px;
  color: #fff;
  font-family: "Roboto";
  font-weight: 500;
  font-style: italic;
  font-size: 1.2em;
}

@media screen and (max-width: 1024px) {
  .intro h2{
    font-size: 1em;
  }
  .intro p{
    font-size: 0.5em;
  }
  .container .backdrop{
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .intro h2{
    font-size: 0.9em;
  }
  .intro p{
    font-size: 0.4em;
  }
  .backdrop{
    display: none;
  }
}